<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
    <title>EASHL Home</title>
  </head>
  <nav class="nav-bar-horizontal"">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Teams</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">About</a></li>
    </ul>
  </nav>
  <main>
    <article>
        <h2>Main heading</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
          lectus. Set sit amet ipsum mauris. Maecenas congue ligula as quam
          viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent
          et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt
          congue enim, ut porta lorem lacinia consectetur.
        </p>
  </main>
  <body>
    <p>This is my page</p>
  </body>
</html>
